body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.wrapper {
    background-image: url(../assets/background.jpg);
    height: 160px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    font-family: 'Open Sans', Georgia, Arial, sans-serif;
}

header {
    margin-bottom: 100px;
}

.logo-wrapper {
    width: 120px;
    height: 50px;
    float: left;
    position: relative;
    top: -33px;
}

.logo-wrapper img {
    height: auto;
    width: 100%;
}

nav {
    float: right;
    margin-top: -35px;
}

a {
    padding: 10px;
    color: #fff;
    display: inline-block;
    width: 85px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

a:hover {
    color:#acfdfe;
}

a:first-child {
    color:blue;
    background-color:#fff;
    border-radius: 20px;
}

.title-wrapper{
    float: left;
    margin-left: -110px;
    width: 450px;
    height: 150px;
    color: #fff;
    
}

h1{
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    margin: auto;
    font-size: 25px;
    opacity: 0.8;
}
p::before{
    content: "";
    width: 85%;
    margin: 0 auto 20px;
    height: 2px;
    background: #acfdfe;
    display: block;
    margin-left: -0.1px;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.input-wrapper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 25px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-wrapper input {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    border-width: 2px;
}

i{
    color: #ccc;
    font-size: 18px;
}

.fname i{
   
    position: absolute;
    top: 42px;
    left: 8px;
}
.lname i {
   
    position: absolute;
    top: 124px;
    left: 8px;
}
.email i {
    font-size: 17px;
    position: absolute;
    top: 205px;
    left: 8px;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    height: 1px;
    background: #acfdfe;
}

textarea{
    width: 345px;
    height: 100px;
    resize: none;
    border: 2px solid #ccc; 
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    margin-top: 25px;
    width: 80px;
    height: 30px;
    background-color: #acfdfe;
    color: black;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
b, small{
    margin-top: 30px;
    margin-left: 5px;
}
small{
    font-size: 15px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 480px;
}
h5, h6{
    text-transform: uppercase;
    font-weight: lighter;
}
h5{
    font-size: 12px;
}
h6{
    margin-top: 37px;
    margin-left: -63px;
    font-size: 8px;
    color: #acfdfe;
}